body {
    font-family: Arial, sans-serif;
    background-color:#B0B0B0;
    color: black;
}

.navbar {
    margin-bottom: 20px;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    padding: 40px;
    font-family: monospace;
    font-weight: bolder;
    color: #003366;
}

.cards-home{
    margin: 15px;
}

.ajuste-card{
    margin: 10px;
}
