body {
    font-family: Arial, sans-serif;
    background-color:#B0B0B0;
    color: black;
}

.navbar {
    margin-bottom: 20px;
}

h1{
    text-align: center;
    margin-inline: 60px;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    border-color: #003366;
    padding: 20px;
    font-family: monospace;
    font-weight: bolder;
    background-color: #003366;
    color: white;
}

.sobre-profissionais{
    background-color: white;
    border-style: solid;
    border-color:#003366;
    border-radius: 10px;
    border-width: 2px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin-inline: 60px;
}

.cards-profissionais .card {
    max-width: 500px; /* Limita a largura máxima de cada card */
    margin: auto; /* Centraliza os cards */
}

.cards-profissionais .img-cards {
    height: 300px; /* Ajusta a altura das imagens */
    object-fit: cover; /* Assegura que a imagem preencha o espaço, cortando as bordas, se necessário */
}

.bold{
    font-weight: bold;
}
